{% extends 'base.html' %}


{% block title %}
    Reset password| {{ block.super }}
{% endblock title %}


{% block content %}
<section class=" mx-auto align-content-center h-75 " style="max-width: 500px; min-height: 80vh;">
    
    <main class="w-100  shadow-lg py-5 px-3  rounded-6">
    <form action="/users/reset" method="post">
        <h1 class="text-center text-capitalize"> New Password Here</h1>
        <p class="lead">Enter your account new Password below to rest it</p>
        <hr>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input
                type="password"
                class="form-control"
                name="newPassword"
                id="newPassword"
                placeholder=""
            />
        </div>
        <div class="mb-3">
            <label for="newPasswordRepeat" class="form-label">Repeat New Password</label>
            <input
                type="password"
                class="form-control"
                name="newPasswordRepeat"
                id="newPasswordRepeat"
                placeholder=""
            />
        </div>
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input
                type="password"
                class="form-control"
                name="currentPassword"
                id="currentPassword"
                placeholder=""
            />
        </div>

        <div class="mb-3">
            <label class="visually-hidden" for="inputName"
                >Hidden input label</label
            >
            <input
                type="text"
                class="form-control"
                name="token"
                id="inputName"
                placeholder=""
                hidden='true' value="{{token}}"
            />
        </div>
        
        <button
            type="submit"
            class="btn btn-md btn-primary"
        >
            Submit
        </button>
        
        
        {% if success %}
            <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
            >
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
                <strong>Information:</strong> {{success}}
            </div>
            
            <script>
                var alertList = document.querySelectorAll(".alert");
                alertList.forEach(function (alert) {
                    new bootstrap.Alert(alert);
                });
            </script>
            
        {% endif %}
            
    </form>

    </main>
</section>
{% endblock content %}
    